@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@108.4,399&display=swap');
html{
    width: 100%;
    height: 100%;
    display: block;
    font-family: fredoka, sans-serif;
    color: yellowgreen;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, red 20%, teal 80%);
}
#game-area{
    width: 75%;
    height: 75%;
    background-image: linear-gradient(to bottom right, #4a4a4a, #2a2a2a);
    background-repeat: no-repeat;
    border-radius: 5px;
    filter: drop-shadow(0 0 10px lightgrey);
    overflow: hidden;
}
#game-area table{
    width: 100%;
    height: 100%;
    text-align: center;
}
.dice{
    max-width: 70%;
    max-height: 70%;
    min-width: 110px;
    min-height: 110px;
}
#title{
    height: 20%;
    font-size: 1.5em;
}
#title h1{
    margin-bottom: 0;
}
#sub-title{
    height: 5%;
    font-size: 1em;
    line-height: -75px;
}
#sub-title h2{
    margin-top:0;
}
#dice-section{
    height: 30%;
}
#command{
    height: 20%;
}
#scores{
    height:20%;
}
@media only screen and (max-width: 600px) {
    h1{
        font-size: 2em;
    }
}