@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@108.4,399&display=swap');
html{
    width: 100%;
    height: 100%;
    display: block;
    font-family: fredoka, sans-serif;
    color: yellowgreen;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, red 20%, teal 80%);
}
#game-area{
    width: 75%;
    height: 75%;
    background-image: linear-gradient(to bottom right, #4a4a4a, #2a2a2a);
    background-repeat: no-repeat;
    border-radius: 5px;
    filter: drop-shadow(0 0 10px lightgrey);
}
#play-area{
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}
.dice{
    max-width: 70%;
    max-height: 70%;
    min-width: 110px;
    min-height: 110px;
}
#title{
    height: 20%;
    font-size: 1.5em;
}
#title h1{
    margin-bottom: 0;
}
#sub-title{
    height: 5%;
    font-size: 1.5em;
    line-height: -75px;
}
#sub-title h2{
    margin-top:0;
}
#dice-section{
    height: 35%;
}
#command{
    height: 20%;
}
#scores{
    height:20%;
}
#tabs{
    background-color: #323232;
    color: white;
    text-align: center;
    width: 23.2vh;
    height: 40px;
    padding: 0;
    transform: rotate(90deg);
    position: absolute;
    right:-110px;
    top: 50%;
    border-radius: 10px 10px 0 0;
}
#tabs tr td{
    border-radius: 10px 10px 0 0;
}
#tabs tr td{
    margin: 0;
    padding: 0;
    height: 100%;
}
#tabs tr td button{
    color: white;
    border-style:none;
    font-size: 1.5em;
}
.red-bg{
    background-color: red;
}
.grey-bg{
    background-color: #323232;
}
@media only screen and (max-width: 800px) {
    h1{
        font-size: 1.4em;
    }
    h2{
        font-size: 1.2em;
    }
}