html{
    width: 100%;
    height: 100%;
    display: block;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, red 20%, teal 80%);
}
#game-area{
    width: 75%;
    height: 75%;
    background-image: linear-gradient(to bottom right, #4a4a4a, #2a2a2a);
    border-radius: 5px;
    filter: drop-shadow(0 0 10px lightgrey);
}
#game-area table{
    width: 100%;
    height: 100%;
    text-align: center;
}
#title{
    height: 20%;
}
#dice-section{
    height: 60%;
}
#scores{
    height:20%;
}